#ct {
}

/*--------------------Secao do Hero----------------*/
#hero {
   display: grid;
   grid-template-columns: 50% 50%;
   padding-inline: 27%;
   background-image: linear-gradient(#fff, #efefef);
}

#hero > #left {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: left;
}

#hero > #right {
   text-align: end;
}

#hero > #left > h2 {
   font-weight: normal;
   font-family: "Avenir-Heavy";
   font-size: 35px;
}

#hero > #left > p {
   margin-top: 1em;
   font-size: 20px;
   color: var(--cor-texto2);
}

/*--------------------Secao do Body----------------*/
#body {
   text-align: center;
   padding-top: 3em;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.titulo2 {
   font-family: "Avenir-heavy";
   color: #ff66c8;
   font-size: 1.8em;
   font-weight: 700;
}

#body > p {
   color: var(--cor-texto2);
   margin-bottom: 4em;
}

.tit {
   font-family: "Avenir-heavy";
   font-size: 44px;
   font-weight: normal;
}

.subtit {
   font-size: 32px;
   font-weight: normal;
}

#body > div {
   margin-top: 3em;
   margin-bottom: 6em;
}

#saibaBtn,
#buyBtn {
   border-radius: 20px;
   border: 1px solid black;
   transition: all 100ms ease-in-out;
   background-image: none;
   padding: 8px 3.5em;
   font-weight: 500;
   font-family: "Avenir-medium";
   font-size: 19px;
}

#saibaBtn {
   margin-right: 0.8em;
   background-color: #fff;
}

#buyBtn {
   background-color: black;
   color: white;
}

#body > img {
   margin-bottom: 3em;
}
