.tit3 {
   letter-spacing: -0.06em;
   font-family: "Avenir-Heavy";
   font-size: 44px;
}

#ct {
    padding-inline: var(--pad-geral2);
    padding-block: 2em;
}

#ct > h5 {
    margin-bottom: .8em;
}

#ct > p {
    margin-top: .7em;
    font-size: 20px;
    line-height: 1.4;
}

@media screen and (max-width: 950px) {
    #ct > p {
        font-size: 18px;
    }
}

@media screen and (max-width: 950px) {
    #ct > p {
        font-size: 16px;
    }

}

@media screen and (max-width: 950px) {
    #ct > p {
        font-size: 15px;
    }
 
}