@import url("./fonts/font.css");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Avenir-book";
   font-weight: normal;
}

a {
   text-decoration: none;
   color: var(--cor-texto);
}

.App {
   color: var(--cor-texto);
}
