@import url("./fonts/font.css");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Avenir-book";
   color: var(--cor-texto);
   font-weight: normal;  
}

a {
   text-decoration: none;

}

.App {
}
